<template>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>This is a PoC to consume GovCMS API.</ion-card-subtitle>
        <ion-card-title>{{ name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>GovCMS started from small beginnings with a simple idea to improve government digital service delivery. We
          wanted to create a common and reusable set of tools and skills for use across government ICT. This would help
          remove some of the barriers that prevented digital teams working more collaboratively.</p>

        <p>In 2013, the Department of Finance needed a new content management solution for the flagship website
          Australia.gov.au. This created the opportunity to think bigger. We noticed many agencies had similar needs for
          their websites and were trying solve similar problems. They were using hundreds of different content
          management
          systems and hosting solutions. This created a complex procurement and compliance challenge. It also didn’t
          provide economies of scale.</p>

        <p>The idea of ‘Create once and share with everyone’ was our founding principle. This open and reusable ethos
          guided our adoption of open source software. The more we talked to other digital teams about their needs, the
          more the idea evolved and in 2014 we started a project to open our platform for other agencies to use.</p>

        <p>We set out to establish a whole of government service that would:</p>

        <ul>
          <li>reduce the technology and compliance burden on agencies</li>
          <li>provide a cost effective option for managing websites and keeping them secure</li>
          <li>make it easier to collaborate and innovate with other agencies</li>
          <li>allow agencies to focus on providing high quality content and services to people</li>
          <li>build communities with digital expertise and bring people together to solve problems</li>
          <li>enable resources and skills to move between projects and agencies</li>
        </ul>

        <p>GovCMS launched in March 2015, hosted on a platform provided by Acquia on AWS Cloud. The first website to
          join us was the Australian Sports Anti-Doping Authority. The Department of Communications and the Arts and
          CrimTrac soon followed.</p>

        <p>The demand for GovCMS rapidly increased during 2016. We launched GovCMS websites at a rate of more than one
          per
          week. This doubled our estimates for first year adoption. By the end of the first year, GovCMS was used 28
          government agencies to host 58 websites. This included the Department of Human Services, Australian Taxation
          Office, Department of Social Services, Australian National Audit Office, National Film and Sound Archive and
          IP
          Australia.</p>

        <p>The growth in demand reflected the quality of service provided by GovCMS. It also demonstrated the
          willingness
          of agencies to adopt innovation and change. Most agencies were able to reduce their ICT costs.</p>

        <p>In July 2016 we won the IPAA Award for ‘Contributing to a Culture or Practice of Innovation’. The GovCMS
          Community was getting established, digital teams were becoming more connected. It wasn’t long before agencies
          started to build innovative features for the platform, and teams from State and Commonwealth agencies began
          co-developing features such as the data visualisation tool.</p>

        <p>By November 2016, 50 agencies used GovCMS to host 106 websites. We also had a further 29 sites in
          development.
          The adoption of GovCMS now exceeded the department’s projection by 70 per cent. At the start of GovCMS,
          Finance
          worked with Deloitte to establish an uptake and cost recovery model. In our second year we exceeded the
          estimate
          Deloitte modelled for us for year three.</p>

        <p>In 2017 we established the Drupal Services Panel through a request for tender. The panel makes it easier for
          agencies to find service providers to help build, maintain and enhance the functionality of their Drupal
          websites.</p>

        <p>During 2018, we refreshed our hosting services contract. We went to market and Salsa Digital, an Australian
          small business, backed by a partnership with amazee.io won the contract.</p>

        <p>With updated infrastructure, the GovCMS platform now runs on open source software Drupal AND an open source
          platform Lagoon. This enables us to customise the platform to meet our ever-changing needs. It also means we
          can
          streamline processes, administration and logging functionality.</p>

        <p>We now offer two-factor authentication for Drupal 7 and we’re getting ready to support Drupal 9 in early
          2020.
          We continue to work with Salsa Digital and amazee.io to ensure that the platform continues to support us as we
          grow. We are always developing enhancements online and improving features in Lagoon and in the components that
          constitute it.</p>

        <p>As of December 2019 GovCMS hosts 318 websites owned by 97 agencies. We have another 42 sites already signed
          up
          to join GovCMS soon. The GovCMS community is strong and growing. They're strong supporters of the GovCMS ethos
          to build, innovate and share.</p>

        <p>The creation of GovCMS resulted in a repeatable recipe for innovation. Our team continues to create new
          services
          using the same approach. We openly share our recipe for innovation inside government through the
          Entrepreneur’s
          Handbook</p>
      </ion-card-content>
    </ion-card>
  </div>
</template>

<script lang="ts">
import { IonCard, IonCardSubtitle, IonCardHeader, IonCardTitle, IonCardContent } from '@ionic/vue';
import { newspaperOutline } from 'ionicons/icons';
import { defineComponent } from 'vue';
import axios from 'axios';
import moment from "moment";

export default defineComponent({
  name: 'ExploreContainer',
  components: { IonCard, IonCardSubtitle, IonCardHeader, IonCardTitle, IonCardContent },
  props: {
    name: String
  },
  data() {
    return {
      items: [],
    };
  },
  async created() {
    try {
      const res = await axios.get(`http://govcmsd9.govcms.local/jsonapi/node/govcms_news_and_media?sort[sort-created][path]=created&sort[sort-created][direction]=DESC`);
      this.items = res.data.data;
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    publishDate(date: any) {
      return moment(date).startOf('day').fromNow();
    },
  },
  setup() {
    return {
      newspaperOutline,
    }
  }
});
</script>

<style scoped>
p {
  padding: 10px 0;
}
</style>
