<template>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>This is a PoC to consume GovCMS API.</ion-card-subtitle>
        <ion-card-title>{{ name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Learn. Innovate. Network.
        It's the GovCMS difference.
      </ion-card-content>
    </ion-card>

    <ion-card v-for="item of items" :key="item.id">
      <ion-item>
        <ion-icon :icon="calendarOutline" slot="start"></ion-icon>
        <ion-label>{{ item.attributes.title }}</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>

      <ion-card-content>
        {{ item.attributes.title }}
      </ion-card-content>
    </ion-card>
  </div>
</template>

<script lang="ts">
import { IonCard, IonCardSubtitle, IonCardHeader, IonCardTitle, IonCardContent, IonItem, IonButton, IonLabel, IonIcon } from '@ionic/vue';
import { calendarOutline } from 'ionicons/icons';
import { defineComponent } from 'vue';
import axios from 'axios';
import moment from "moment";

export default defineComponent({
  name: 'ExploreContainer',
  components: { IonCard, IonCardSubtitle, IonCardHeader, IonCardTitle, IonCardContent, IonItem, IonButton, IonLabel, IonIcon },
  props: {
    name: String
  },
  data() {
    return {
      items: [],
    };
  },
  async created() {
    try {
      const res = await axios.get(`http://govcmsd9.govcms.local/jsonapi/node/govcms_event?sort[sort-created][path]=created&sort[sort-created][direction]=DESC`);
      this.items = res.data.data;
    } catch (error) {
      console.log(error);
    }
  },
  setup() {
    return {
      calendarOutline,
    }
  }
});
</script>

<style scoped>
</style>
