<template>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>This is a PoC to consume GovCMS API.</ion-card-subtitle>
        <ion-card-title>{{ name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Learn. Innovate. Network.
        It's the GovCMS difference.
      </ion-card-content>
    </ion-card>

    <ion-card v-for="item of items" :key="item.id">
      <ion-item>
        <ion-icon :icon="rocketOutline" slot="start"></ion-icon>
        <ion-label>{{ item.tag_name }}</ion-label>
        <ion-button fill="outline" slot="end">Release notes</ion-button>
      </ion-item>

      <ion-card-content>
        {{ item.name }} updated at {{ publishDate(item.published_at) }}
      </ion-card-content>
    </ion-card>
  </div>
</template>

<script lang="ts">
import { IonCard, IonCardSubtitle, IonCardHeader, IonCardTitle, IonCardContent, IonItem, IonButton, IonLabel, IonIcon } from '@ionic/vue';
import { rocketOutline } from 'ionicons/icons';
import { defineComponent } from 'vue';
import axios from 'axios';
import moment from "moment";

export default defineComponent({
  name: 'ExploreContainer',
  components: { IonCard, IonCardSubtitle, IonCardHeader, IonCardTitle, IonCardContent, IonItem, IonButton, IonLabel, IonIcon },
  props: {
    name: String
  },
  data() {
    return {
      items: [],
    };
  },
  async created() {
    try {
      const res = await axios.get(`https://api.github.com/repos/govcms/govcms/releases`);
      this.items = res.data;
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    publishDate(date: any) {
      return moment(date).startOf('day').fromNow();
    },
  },
  setup() {
    return {
      rocketOutline,
    }
  }
});
</script>

<style scoped>
</style>
